<!--pages/chart/Settlement/Settlement_total.wxml-->
<view class="settlementTotal">
    <!-- 结算量数据 -->
    <view class="totalInformation">
        <!--整体数据 -->
        <view hidden="{{!totalPanel}}">
            <view style="float: left;">
                <h1>国际结算总体情况：</h1>
            </view>
            <view style="float: right;">(单位：万美元)</view>
            <view class="table">
                <view class="tr">
                    <view class="th">任务</view>
                    <view class="th">实绩</view>
                    <view class="th">完成率</view>
                    <view class="th">同比</view>
                    <view class="th">增减幅</view>
                </view>
                <view class="tr bg-w">
                    <view class="td">{{information.task}}</view>
                    <view class="td">{{information.amount_c}}</view>
                    <view class="td">{{information.precent}}</view>
                    <view class="td" style="color:{{information.compare<0?'red':'black'}}">{{information.compare}}</view>
                    <view class="td" style="color:{{information.compare_precent<0?'red':'black'}}">{{information.compare_precent}}</view>
                </view>
            </view>
        </view>

        <!-- 单项数据 -->
        <view hidden="{{totalPanel}}">
            <view style="float: left;">
                <h1>{{selectProduct}}情况：</h1>
            </view>
            <view style="float: right;">(单位：万美元)</view>
            <view class="table">
                <view class="tr">
                    <view class="th">任务</view>
                    <view class="th">实绩</view>
                    <view class="th">完成率</view>
                    <view class="th">同比</view>
                    <view class="th">增减幅</view>
                </view>
                <view class="tr bg-w">
                    <view class="td">{{information.task}}</view>
                    <view class="td">{{information.amount_c}}</view>
                    <view class="td">{{information.precent}}</view>
                    <view class="td" style="color:{{information.compare<0?'red':'black'}}">{{information.compare}}</view>
                    <view class="td" style="color:{{information.compare_precent<0?'red':'black'}}">{{information.compare_precent}}</view>
                </view>
            </view>
        </view>
    </view>

    <view class="totalChart">
        <!-- 结算量分月柱状图 -->
        <barChart wx:if="{{!swtichable}}" id="barchart" style="width: 100px; height: 200px;" data="monthdata"></barChart>

        <!-- 产品结算量饼图 -->
        <pieChart wx:if="{{swtichable}}" id="piechart" style="width: 100px; height: 200px;" data="productData"></pieChart>
    </view>
    <!-- 各产品结算量数据 -->
    <view class="productInformation">
        <view>
            <view style="float: left; width: 48%; margin-left: 5px; line-height: 50px;">
                <picker mode="selector" disabled="{{productSelectable}}" value="{{selectProduct}}" range="{{products}}" bindchange="bindProductChange">
                    <view style="
              padding: 5px;
              border-radius: 10px;
              width: 200px;
              float: left;
              margin: 30px 10px;
              background: white;
            ">查看单项产品：{{selectProduct}}</view>
                </picker>
            </view>
            <view>
                <switch style="float: right; margin: 40px 20px;" disabled="{{swtichable}}" checked="{{switch1Checked}}" bindchange="switch1Change" />
            </view>
        </view>
    </view>
</view>