<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="node_modules\vue\dist\vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="node_modules\element-ui\lib\theme-chalk\index.css">
    <!-- 引入组件库 -->
    <script src="node_modules/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app"></div>



    <script>
        let child = Vue.component('child', {
            data() {
                return {
                    msg: "child msg"
                }
            },
            props: ['childData'],
            template: `<div>
                <input type=text v-model='childData' @input='changeValue(childData)' /> 
                <el-button type="primary" @click='amlart'  size="mini" >主要按钮</el-button>
                </div>`,
            methods: {
                changeValue(value) {
                    this.$emit('parentshow', value);
                },
                amlart() {
                    alert();
                }
            },
        });

        let parent = Vue.component('parent', {
            data() {
                return {
                    msg: "parent msg"
                }
            },
            /* 
            
            父组件向子组件 传值：1-用自定义属性加 props
             子组件向父组件 传值：1-用自定义属性加 props 2-用自定义方法 在子组件函数中 3调用 this.$emit('父组件的自定义方法',value)
            
            */
            template: `<div v-model='msg' >
                <input type=text v-model='msg' />
                
                <child :childData='msg'     />
                
                </div>`,
            methods: {
                parentshow(value) {
                    console.log("parent recive " + value);
                    this.msg = value;

                }
            },
        });

        let App = {
            template: `<div > 
            我是入口组件
                <parent >  
  
                </parent>
                </div >`
        };

        new Vue({
            el: "#app",
            data() {
                return {}
            },
            template: `<App />`,
            components: {
                App
            }
        });
    </script>
</body>

</html>